#app-newsletter input{
    height: 26px;
    margin: 3px 10px 0;
}

#app-newsletter button  { color:#757575; font-size:16px; font-family:'Signika', sans-serif;border:none; margin:0 auto; height:43px; width:130px; background:url(../img/signup-button.png) no-repeat; display:block;  }
#app-newsletter button:hover { background-position:0 100%;}

.news1 h3 {
    /*font-size:15px;*/
    padding-top:15px;
    font-size:20px;
    float:none;
}

/**********PopUp Newsletter**********/

#newsletter{
    width:1000px;
    /*height: 300px;*/
}

.modal{
    left:33%;
    background-color: transparent;
}

.subscribe-popup {
    background-color:#000000;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
 }


/*********Start Now***********/
a.signup-button {
    font-weight: 100;
    font-size:17px;
    /*line-height: 21px;*/
    letter-spacing:1px;
}
a.signup-button:hover {

}

/**LOgo*****/
.logo{
    width: 400px;
}

#edit-events textarea{
    height: 10px;
}

#edit-obligations textarea{
    height: 10px;
}
textarea#edit-other-notes{
    height: 100px;
}

ul.breadcrumb li{
    font-size: 12px;
}
ul.breadcrumb li a{
    color: black;
}

fieldset{
    /*border:inherit;*/
    /*font:inherit;*/
    /*margin:inherit;*/
}

legend{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;

}

/****feedback form****/
/*.form-item-rates, .form-item-effectiveness, .form-item-legal-aspect, .form-item-maintenance-fee, .form-item-other{*/
    /*display: none;*/
/*}*/

/*.form-item-other textarea{*/
    /*height: 100px;*/
/*}*/

#collect-feedback-info-form textarea{
    height: 100px;
    max-width:400px ;
}

#collect-feedback-info-form label{
    color: darkgray;
    margin-top: 12px;
}

#collect-feedback-info-form .control-label{
    color:#235D79;
    font-size:14px;
    margin-top:30px;
}

#collect-feedback-info-form legend{
    margin-top: 35px;
}

.min_margin{
    margin-bottom: 0px;
}